body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

address a {
  color: #434455;
}

.main-titel {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.two-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.title-three {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.logo {
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.span {
  color: #2e2f42;
}

.nav-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
}

.main-info {
  background-color: #2e2f42;
}

.button-main {
  color: #ffffff;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  border-color: #000;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
}

.button-main:hover,
.button-main:focus {
  background-color: #404bbf;
}

.footer {
  background: #2e2f42;
  color: #f4f4fd;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo span {
  color: #f4f4fd;
}

.nav-link:hover,
:focus {
  color: #404bbf;
}

.address-link:hover,
:focus {
  color: #404bbf;
}

.our-team {
  background-color: #f4f4fd;
}

.team-item {
  background-color: #fff;
}
